@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@include flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin grid-base {
  display: grid;
  gap: 1em;
}

@mixin align-start {
  align-content: flex-start;
}