---
import Seo from '#components/elements/Seo.astro'
import Footer from '#components/layout/Footer.astro'
import Navbar from '#components/layout/Navbar.astro'
import '#styles/globals.scss'

interface Props {
  title?: string
  description?: string
  image?: string
}

const TITLE = 'Carlos Burelo - Web Developer & Software Engineer'
const DESCRIPTION =
  'I am a software engineer and web developer based in the United States. I specialize in building web applications and websites using React, Next.js, and Astro. I also have experience with Node.js, Express, and MongoDB.'
const IMAGE = 'https://carlosburelo.vercel.app/hero.webp'

const { title = TITLE, description = DESCRIPTION, image = IMAGE } = Astro.props
---

<html lang='en'>
  <head>
    <Seo image={image} description={description} title={title} />
  </head>
  <body>
    <Navbar />
    <div>
      <slot />
    </div>
    <Footer />
    <style>
      div {
        padding-inline: var(--paddingLayout);
      }
    </style>
  </body>
</html>
