---
import NavLink from '#components/elements/NavLink.astro'
---

<nav class='navbar'>
  <NavLink to='/' text='Home' />
  <NavLink to='/blog' text='Blog' />
  <NavLink to='/works' text='Works' />
  <NavLink to='/snippets' text='Snippets' />
  <!-- <NavLink to='/hire' text='Hire' /> -->
</nav>

<style lang='scss'>
  .navbar {
    height: var(--headerHeight);
    padding-inline: var(--paddingLayout);
    background-color: var(--backgroundHeader);
    backdrop-filter: var(--backdropFilter);
    @include flex(center, flex-end);
    @include position(sticky, 0, 0, 0, 0);
    z-index: 100;
  }
</style>
