---
export interface Props {
  to: string
  text: string
}

const { text, to } = Astro.props

const { pathname } = new URL(Astro.request.url)

const active = pathname === to ? 'active' : ''
---

<a
  rel='noopener noreferrer prefetch'
  class:list={['navlink', active]}
  href={to}
>
  {text}
</a>

<style lang='scss'>
  .navlink {
    color: var(--colorText);
    &:hover {
      color: var(--colorTitle);
    }
  }

  .active {
    color: var(--colorTitle);
  }
</style>
