---
import Section from '#components/elements/Section.astro'

const events = [
  { title: 'Web Developer Lead by GDSC' },
  { title: 'University Programming Advisor' },
  { title: 'Electronics technician intern' },
  { title: 'System engineer student' },
  { title: 'Hobby Backend developer' },
  { title: 'Freelance developer' },
  { title: 'UX Designer' },
]
---

<Section title='Experience'>
  {
    events.map(i => (
      <div>
        <header>
          <h3>{i.title}</h3>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          quaerat dolores et velit accusantium adipisci nostrum reiciendis
          voluptatum animi voluptates?
        </p>
      </div>
    ))
  }
</Section>

<style lang='scss'>
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
</style>
