---
import { getCollection } from 'astro:content'
import WorkCard from './WorkCard.astro'

export const works = await getCollection('works')
---

<div class='works'>
  {works.map(work => <WorkCard {...work} />)}
</div>

<style lang='scss'>
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
</style>
