---
import Navigation from '#components/elements/Navigation.astro'
import PostCard from './PostCard.astro'
import PostList from './PostList.astro'
import PostSlider from './PostSlider.astro'
import RecentActivity from './RecentActivity.astro'

export interface Props {
  ctx: Paginated<'posts'>['page']
}

const { ctx } = Astro.props
const posts = ctx.data
---

<section class='container'>
  <div class='posts'>
    <h2>Featured post</h2>
    <PostSlider>
      {posts.map(post => <PostCard {...post} />)}
    </PostSlider>

    <header class='postHeader'>
      <h2>All post</h2>
      <Navigation {...ctx} />
    </header>
    <PostList list={posts} />
  </div>
  <div class='activity'>
    <h2>Recent activity</h2>
    <RecentActivity />
  </div>
</section>

<style lang='scss'>
  .container {
    display: grid;
    gap: 1rem;
    align-items: start;
    @include tablet {
      grid-template-columns: 2fr 1.2fr;
    }
  }

  .posts {
    display: grid;
    gap: 1rem;
  }
  .activity {
    display: grid;
    gap: 1rem;
  }

  .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
