---
import TableOfContents from '#components/mdx/containers/TableOfContents.astro'
import Mdx from '#components/mdx/Mdx.astro'

export type Props = PageProps

const { payload } = Astro.props
const { headings } = await payload.render()
---

<div class='content'>
  <article class='article'>
    <Mdx payload={payload} />
  </article>
  <aside class='aside'>
    <TableOfContents raw={headings} />
  </aside>
</div>

<style lang='scss'>
  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include desktop {
      display: grid;
      grid-template-columns: 75ch 1fr;
    }
  }
  .article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 75ch;
    font-size: 1em;
  }
</style>
