---
import SnippetCard from './SnippetCard.astro'

export interface Props {
  page: Paginated<'snippets'>['page']
}

const { page } = Astro.props
---

<div class='snippets'>
  {page.data.map(snippet => <SnippetCard {...snippet} />)}
</div>

<style lang='scss'>
  .snippets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
</style>
