---
import { colorLanguageMap } from '#constants/globals'
import type { CollectionEntry } from 'astro:content'
import Logos from '#components/svg/logos'

export type Props = CollectionEntry<'snippets'>

const { data, slug } = Astro.props
const { title, lang } = data

const base = colorLanguageMap[lang.toLowerCase()]
const backgroundColor = `var(--backdrop-${base})`
const color = `var(--${base})`
const Icon = Logos[lang]
---

<div class='card'>
  <a href={`/snippets/${slug}`}>
    <h3 class='title'>{title}</h3>
  </a>
  <span class='lang' style={{ backgroundColor, color }}>
    <Icon />
  </span>
</div>

<style lang='scss'>
  .card {
    @include card;
    min-height: 130px;
    position: relative;
    overflow: hidden;
    align-items: center;
  }
  .title {
    @include textCut;
    font-size: 1.5em;
    line-height: 1.4;
  }
  .lang {
    position: absolute;
    right: -0.5em;
    bottom: -0.5em;
    z-index: -1;
    padding: 1em;
    font-size: 2em;
    border-radius: 1000px;
  }
</style>
